@{
    ViewData["Title"] = "Polityka prywatności";
}
<h1>@ViewData["Title"]</h1>

<p>POLITYKA PRYWATNOŚCI<br>
    Polityka prywatności nie stanowi w pełni uniwersalnego dokumentu i wymaga dostosowania w zależności od stosowanych przez Administratora narzędzi i rozwiązań, a także w zakresie celów przetwarzania<br>
    I Postanowienia ogólne<br>
    1. Niniejsza Polityka ochrony prywatności określa sposób zbierania, przetwarzania i przechowywania danych osobowych koniecznych do świadczenia usług drogą elektroniczną za pośrednictwem serwisu internetowego w domenie <<<>>> (dalej: Serwis).<br>
    2. Administratorem danych osobowych Użytkowników jest [nazwa i adres Administratora] (dalej: Administrator).<br>
    3. Dane osobowe przetwarzane są zgodnie z Rozporządzeniem Parlamentu Europejskiego i Rady (UE) 2016/679 z dnia 27 kwietnia 2016 r. w sprawie ochrony osób fizycznych w związku z przetwarzaniem danych osobowych i w sprawie swobodnego przepływu takich danych oraz uchylenia dyrektywy 95/46/WE (ogólne rozporządzenie o ochronie danych) (dalej: RODO).<br>
    4. Zbierane przez Administratora dane będą:<br>
    – przetwarzane zgodnie z prawem,<br>
    – przetwarzane w wyraźnie określonych celach i niepoddawane dalszemu przetwarzaniu
    niezgodnemu z tymi celami,
    – merytorycznie poprawne i adekwatne w stosunku do celów, w jakich są przetwarzane,<br>
    – przechowywane nie dłużej niż jest to niezbędne do osiągnięcia celu przetwarzania.<br>
</p>