@model UbbRentalBike.Models.Participant
@{
    ViewData["Title"] = "DeleteConfirmed";
}
<h2>DeleteConfirmed</h2>
<p>
    Confirmed deletion of participant with name: @Model.Name
</p>
<a asp-action="Index">Back to List</a>